@using Highsoft.Web.Mvc.Charts

    @(Html.Highsoft().Highcharts(
        new Highcharts
        {
            Chart = new Chart
            {
                Width = 1087,
                Height = 400,
                Margin = new double? [1] { 75 },
                Options3d = new ChartOptions3d
                {
                    Enabled = true,
                    Alpha = 15,
                    Beta = 15,
                    Depth = 50,
                    ViewDistance = 25
                },
                Events = new ChartEvents
                {
                    Load = "initSliders"
                }
            },
            Title = new Title
            {
                Text = "Chart rotation demo"
            },
            Subtitle = new Subtitle
            {
                Text = "'Test options by dragging the sliders below"
            },
            PlotOptions = new PlotOptions
            {
                Column = new PlotOptionsColumn
                {
                    Depth = 25
                }
            },
            Series = new List<Series>
            {                    
                new ColumnSeries
                {
                    Data = @ViewData["chartData"] as List<ColumnSeriesData>
                }               
            }
        }
        , "chart")
    )

<div id="sliders">
	<table>
		<tr><td>Alpha Angle</td><td><input id="R0" type="range" min="0" max="45" value="15"/> <span id="R0-value" class="value"></span></td></tr>
	    <tr><td>Beta Angle</td><td><input id="R1" type="range" min="0" max="45" value="15"/> <span id="R1-value" class="value"></span></td></tr>
	</table>
</div>	

<script type="text/javascript">

    var chart;

    function showValues() {
        $('#R0-value').html(chart.options.chart.options3d.alpha);
        $('#R1-value').html(chart.options.chart.options3d.beta);
    }

    function initSliders() {
        chart = Highcharts.charts[0];
       
        // Activate the sliders
        $('#R0').on('change', function () {
            chart.options.chart.options3d.alpha = this.value;
            showValues();
            chart.redraw(false);
        });
        $('#R1').on('change', function () {
            chart.options.chart.options3d.beta = this.value;
            showValues();
            chart.redraw(false);
        });


        showValues();
    }

</script>